@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fst-italic">"Life is like a book. Some chapters are sad, some are happy, and some are exciting, but if you never turn the page, you will never know what the next chapter has in store for you."</h1>
    <p>-----------------------------------------------------------------------------------</p>
    <h2>Welcome to Our Library.</h2>
</div>
